.button-wrapper {
  margin: 2rem;

  p-button {
    display: flex;
    justify-content: center;

    &.left {
      justify-content: right;
    }
    &.right {
      justify-content: left;
    }

    > ::ng-deep button {
      width: 100%;
      max-width: 14rem;
      aspect-ratio: 1 / 1;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      font-size: 2rem;

      > span.pi {
        font-size: 3.5rem;
      }
    }
  }
}
