.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;

  .logo-wrapper {
    display: flex;
    cursor: pointer;

    &:hover h3 {
      color: cadetblue;
    }

    img {
      height: 3rem;
    }

    h3 {
      margin: 0;
      margin-left: 1rem;
      line-height: 3rem;
    }
  }

  #logged-in-user-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    #user-photo {
      height: 3rem;
      border-radius: 1rem;
    }
  }

  footer {
    background-color: #f8f9fa;
    height: 2.5rem;
    margin-top: auto;
    border-top: 1px solid #dee2e6;

    p {
      line-height: 2.4rem;
      text-align: center;
      margin: 0;
      font-style: italic;
      font-size: 0.8rem;
    }
  }
}
