<div id="chat-wrapper" #chatWrapper>
  <h1>Chat</h1>

  <hr />

  <div *ngFor="let chatMessage of chatMessages" class="chat-message">
    <div class="meta-infos">
      <p class="user">{{ chatMessage.user }}</p>
      <p class="time">{{ chatMessage.time | date: "dd.MM.yyyy, HH:mm:ss" }}</p>
    </div>
    <div class="message-wrapper">
      <img
        [src]="
          chatMessage.photoURL ??
          'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Anonymous_emblem.svg/220px-Anonymous_emblem.svg.png'
        "
        id="user-photo"
      />
      <p class="message">{{ chatMessage.message }}</p>
    </div>

    <hr />
  </div>

  <div id="chat-button">
    <span class="p-inputgroup">
      <div class="p-float-label">
        <input
          type="text"
          pInputText
          (keydown)="sendMessageIfEnter($event)"
          [(ngModel)]="newChatMessage"
        />

        <label for="float-input">Nachricht eingeben...</label>
      </div>
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-send"
        styleClass="p-button-success"
        (click)="sendMessage()"
      ></button>
    </span>
  </div>
</div>
